.banner .top .head{
	font-size: 3em;
	margin: 20px 0;
}

.banner .bottom{
  width: 80%;
  height: 300px;
  border-radius: 20px;
  background: var(--lightBg1);
  color: #444;
  top: 60px;
  box-shadow: 0 40px 120px #0007;
  margin-top: -40px;
}

.banner .bottom .sect{
	width: calc(50% - 5px);
}
.banner .bottom .line{
	width: 10px;
	height: 90%;
	background: var(--stdBg);
	border-radius: 99px;
}
.banner .bottom .sect{
	padding: 5px;
}

.banner .bottom .sect img{
	width: 100%;
	height: 200px;margin: 10px 0;
}
@media screen and (max-width: 915px){
	.banner .bottom {
		width: 90%
	}
	.banner{
		--br: 20px 20px;
	}
}
@media screen and (max-width: 600px){
	.banner {
		margin-bottom: 210px;
		--br: 10px 10px;
	}
	.banner .bottom{
		height: 640px;
		flex-flow: column;
		padding: 0 5px;
		top: 170px;
    box-shadow: 0 40px 120px #0007;
    margin-top: -150px;
    border-radius: 5px;
	}
	.banner .bottom .sect{
		width: 100%;
		margin: 5px 0;
	}

	.banner .bottom .line{
		min-height: 10px;
		width: 90%;
	}
}
