.mainBnr{
  margin-bottom: 340px;
  background: linear-gradient(45deg,#ae60cb,#6642cb);
  height: 300px;
  justify-content: flex-start;
  display: none;
}
.mainBnr.active{
  display: flex;
}
.banner .top{
  width: 100%;
}
.banner .bottom{
  justify-content: flex-start;
  padding: 5px;
  background: linear-gradient(#fff9,#fff);
  height: auto;
}
.banner .bottom .bnrBtn {
  top: -20px;
  justify-content: space-between;
  width: 100%;
}
.banner .bottom .bnrBtn.down {
  top: 20px;  
}
.banner .bottom .apDown{
  position: absolute;
  width: 100px;
  height: 55px;
  background: #fff;
  bottom: -55px;
  border-radius: 0 0 99px 99px; 
  cursor: pointer;
}
.banner .bottom .apDown i{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: -10px;
  top: -10px;
  pointer-events: none;
}
.banner .bottom .apDown i::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #9294a4;
  border-radius: 50%;
  left: -10px;
  bottom: -10px;
}
.banner .bottom .apDown i:nth-of-type(2)::after{
  left: 10px;
}
.banner .bottom .apDown i:nth-of-type(2){
  left: 90px;
}

.banner .bottom .bnrBtn button {
  background: #fffd;
  border: none;
  color: #444;
  padding: 6px 17px;
  border-radius: 5px;
  box-shadow: 0 5px 30px #0003;
  cursor: pointer;
}
.banner .bottom .bnrBtn button svg {
  height: 1.2em;
  fill: #444;
}


/*poster styleing*/
.banner .bottom .posPan{
  width: 100%;
  height: 350px;
  top: -10px;
  justify-content: flex-start;
  overflow: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  overflow-y: hidden;
}
.banner .bottom .posPan .pos{
  min-width: 460px;
  height: 350px;
  border-radius: 10px;
  display: inline-block;
  margin: 0 10px;
}
.banner .bottom .posPan .pos img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (max-width: 618px){
  .mainBnr{
    margin-bottom: 330px;
  }
  .banner .bottom .posPan{
    height: 320px;
  }
  .banner .bottom .posPan .pos{
    min-width: 390px;
    height: 310px;
  }
}
@media screen and (max-width: 490px){
  .mainBnr{
    margin-bottom: 260px;
  }
  .banner .bottom{
    width: 100%;
  }
  .banner .bottom .posPan{
    height: 260px; 
  }
  .banner .bottom .posPan .pos{
    min-width: 310px;
    height: 260px;
    border-radius: 5px;
  }
}
.banner ::-webkit-scrollbar{
  width: 0;
  height: 0;
}.banner ::-moz-scrollbar{
  width: 0;
  height: 0;
}