.vidPan .vidInAds{
	position: absolute;
	height: 100%;
	background: #eee;
	top: 0;
	left: 0;
	display: none;
	visibility: none;
	color: #444;
}
.shareBx{
	width: 269px;
	height: 166px;
	border: 2px solid #f61740;
	border-radius: 118px;
}
.shareBx p{
	
}
.shareBx .lined::after,
.shareBx .lined::before{
	background: #333;	
}

.shareBx .lined{
	margin: 10px 0 0;
}
.shareBx > *{
	margin: 10px 0;
}
.shareBx button{
	margin: 0 5px;
	padding: 10px;
	background: #f00;
	border-radius: 50%;
	fill: #fff;
}

.vidPan .vidInAds.active{
	display: flex;
	visibility: visible;	
}
@media screen and (max-width: 550px){
.vidPan .vidInAds .mnContent .head{
	display: none;
}
.vidPan .vidInAds .mnContent .ads iframe{
	margin: 5px;
}
}